*{
border: green 1px solid;
}

body{
background-color: #D7D7D7;
}

.cab{
display:flex;
justify-content: center;
}

form{
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
height: 85vh;
width: 100%;
}

.tab{

display:flex;
background-color: #A91C1C;
justify-content:space-evenly;
height: 55 px;
width: 50vw ;
}
.table{
width: 30vw;

}

.ft{
width: 200px;
}



