@font-face {
  font-family: 'font-inter';
  src: url('/Fonts/Inter/Inter-VariableFont_sInt,wght.ttf');
}

p, h1, h2, h3, h4, a, button {
  font-family: 'font-inter';
}
*{

}

body{
background-color: #D7D7D7;
height: 95vh;
}
h1{
display: flex;
justify-content:center;
}

table{
    background-color: white;
     width: 80%;
     margin: 2em auto;
     border-radius: 10px;
     border-collapse: separate;
     overflow: hidden;
}
.th{
text-align:right;
}
table tr th{
    color:white;
    background-color: #a91c1c;
    height: 2em;
    font-weight: 200;
}
table tr td{
    height: 4em;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 16px;
}

.bt{
align-items:center;
font-size: 15px;
cursor:pointer;
background-color: #A91C1C;
color: white;
height: 35px;
width: 5vw;
border-radius: 100px;
border:inherit;
}

.sair{
font-size: 15px;
    position:absolute;
    right:5%;
background-color: #D7D7D7;
color: #A91C1C;
cursor:pointer;
border:inherit;
}








