@font-face {
  font-family: 'font-inter';
  src: url('/Fonts/Inter/Inter-VariableFont_sInt,wght.ttf');
}

p, h1, h2, h3, h4, a, button {
  font-family: 'font-inter';
}

body{
background-color: #D7D7D7;
}


h1 {

display:flex;
justify-content: center;
color:white;
background: linear-gradient(to right, #ff0101, #490101);
width:100vw;
}

.bt {

display:flex;
justify-content:space-around;
align-items:center;
flex-direction:column;
height: 90vh;
font-size:px;

}

button {

font-size: 30px;
cursor:pointer;
background-color: #A91C1C;
color: white;
height: 64px;
width: 10vw;
border-radius:15px;
border:inherit;

}









