* {
    border: green 1px solid;
}

body {
    background-color: #D7D7D7;
    margin: 0px;
}

.texto-branco{
    color: white;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 124px;
    background-color: #CC0101;
}
cabecalho > h2{
    font-size: 32px;
}

.cabecalho-baixo{
    display: flex;
    flex-direction: row;
    background-color: #A91C1C;
}

