 *{
 border:0px solid ;
 }
 body {
 }

  h1{


display: flex;
justify-content:center;

 }
 .cb{
 background-color: #A91C1C;
 color:white;
 }

 .table{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:90vh;
    width: 90vw;



 }