

body {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #D7D7D7;
        font-family: Arial, sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalho > h1 {
    font-family: 'Irish Grover';
    font-size: 30px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    height: 45vh;
    width: 50vw;
}

h1 {
    text-align: left;
    color: white;
    background-color: red;
    width: 1354px;
    height: 72px;
}

h2 {
    text-align: left;
    background-color: black;
    color: white;
    width: 1354px;
    height: 34px;
}

img {
    width: 1354px;
    height: 177px;
}

h3 {
    text-align: center;
    background-color: #D7D7D7;

}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    width: 811px;
    height: 47px;
}

form {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botao {

    width: 10vw;
    padding: 5px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}