*{
    border: green 1px solid;
}

body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height: 100vh;

    background-color: #D7D7D7;
    font-family: Arial, sans-serif;

}

.cabecalho {
display: flex;
flex-direction: column;
justify-content: center;


}

.cabecalho > h1 {
    font-family: 'Irish Grover'; font-size: 30px;
}

.cabecalho > h1 h2{
margin: ;
}



#luigis h1 {
    text-align: left;
    color: white;
    background-color: red;


}

#luigis h2 {

    text-align: left;
    background-color: black;
    color: white;
}

#luigis img {
    width: 917px;
}

#luigis h3 {
    text-align: center;
    background-color: 000000;
}

#luigis h4 {
    text-align: center;
    color: white;
    background-color: red;
}

#luigis form {
    margin-top: 20px;
}

#luigis label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#luigis input[type="text"], #luigis input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#luigis input[type="submit"] {
    width: 100%;
    padding: 5px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#luigis input[type="submit"]:hover {
    background-color: #0055a0;
}