*{
    border: 1px green solid;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;

}

h1{
    text-align:center;
}

form{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:40vh;
    width: 30vw;
}

.input-box{
    display:flex;
    flex-direction:column;
    height: 50px;
    width:30vw;
}


