@font-face {
  font-family: font-inter;
  src: url(../Fonts/Inter/Inter-VariableFont_sInt,wght.ttf);
}
*{
    //border: 1px green solid;
}

body{
    background-color: #D7D7D7;
}

#txt{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:80vh;
}

.formulario{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    width:70vw;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:40vh;
    width: 30vw;
}

.input-box{
    display:flex;
    flex-direction:column;
    height: 50px;
    width:30vw;
}
.input-box > input{
    border:none;
    outline: none;
    height: 2em;
    border-radius: 20px;
}
.botoes{
    display: flex;
    flex direction:row;
    justify-content: flex-end;
    width:95vw;
}

.botoes > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

    width:25vw;
}

a{
    text-decoration:none;
    color: #A91C1C;
    height:1em;
}

button{
    background-color: #A91C1C;
    color: white;
    width:190px;
    height: 50px;
    border-radius: 20px;
    border:none;
}

